.header {
    display: inline-block;
    color: grey;
}
.tagline {
  color: grey;
}
.skills {
  text-align: center;
  display: inline-block;
}
h1 {
  background-color: black;
}
h2 {
  background-color: silver;
}
a {
  display: inline-flex;
  text-decoration:inherit;
}
p {
  font-size: 15px;
  text-decoration-color: green;
}
