.header {
  text-align: center;
  border: 1px dashed black;
  outline-color: red;
}
.tagline {
  color: grey;
  text-align: center;
  border: 1px dashed black;
  outline-color: red;
}

.skills {
  text-align: center;
  display: block;
  border: 1px dashed black;
  outline-color: red;
}

ul {

}

.contact {
  text-align: center;
}
a {
  display: inline-block;
  text-decoration: none;
}
p {
  font-size: 15px;
  text-align: center;
}
