.header {
  text-align: center;
}
.tagline {
  color: grey;
}
.skills {
  text-align: center;
  display: inline-block;
}
 .tagline {
   text-align: center;
 }
a {
  display: inline-flex;

}
p {
  font-size: 15px;
  text-align: center;
}

.contact {
  text-align: center;
}
  .key {
    text-align: center;
  }
